@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    <style>
        body {
            background-image: url('https://wallpapers.com/images/hd/news-background-0b7a1jap6vepd777.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    
</body>
</html>
